.discover-arc h1{
    font-size: 72px;
}

#activity-list ul{
    color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
}

/* For this section, I used a grid because I felt that it would be the most helpful for the design in the mockup */

.discover-arc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 30px;
    padding-top: 30px;
    }
    
    .discover-text { grid-area: 1 / 1 / 2 / 2; }
    .discover-img { grid-area: 1 / 2 / 2 / 3; }


.discover-algonquin {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        background-color: lightgrey;
        }
        
        .algonquin-img { grid-area: 1 / 1 / 2 / 2; }
        .algonquin-text { grid-area: 1 / 2 / 2 / 3; }

.discover-algonquin img{
    padding-left: 25px;
}

.discover-algonquin button{
    background-color: #26a682;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
font-weight: bolder;
    color: white;
    border-radius: 40px;
    border-color: #26a682;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
 }

 .discover-algonquin h1{
     font-style: italic;
 }

 .discover-algonquin h2{
     color: #26a682;
 }

 .discover-algonquin p{
     line-height: 2;
 }

 .quote{
     background-color: darkgray;
 }

 .quote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    color: white;
    }
    
    .quote-image { grid-area: 1 / 1 / 2 / 2; }
    .quote-name { grid-area: 1 / 2 / 2 / 3; }
    .quote-text { grid-area: 1 / 3 / 2 / 4; }

 .quote img{
     border-radius: 50%;
     border-color: white;
     border-style: solid;
     margin-left: 175px;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 .quote-name{
     font-weight: bold;
     padding-top: 35px;
     padding-right: 50px;
 }

 .quote-text{
     margin-bottom: ;
 }

 .discover-entertainment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: lightgrey;
    }
    
    .entertainment-text { grid-area: 1 / 1 / 2 / 2; }
    .entertainment-img { grid-area: 1 / 2 / 2 / 3; }
.entertainment-img{
    margin-top;
}

.discover-entertainment h1{
    font-style: italic;
}

.discover-entertainment h2{
    color: #26a682;
}

.discover-entertainment p{
    line-height: 2;
}

.discover-entertainment button{
    background-color: #26a682;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
font-weight: bolder;
    color: white;
    border-radius: 40px;
    border-color: #26a682;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
}

.entertainment-text{
    padding-left: 25px;
}

