.get-started{
    background-color: #26a682;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
font-weight: bolder;
    color: white;
    border-radius: 40px;
    border-color: #26a682;
    padding: 5px;
 }

#logo{
    width: 5%;
    height: auto;
    margin-left: 40px;
}

.sponsers{
    width: 5%;
    height: auto;
}