*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(../week-3/images/bg-image/scooter.svg);
}
.container{
display: flex;
flex-direction: column;
width: 300px;
border-style: solid;
border-width: 3px;
border-color: red;
float: right;
}

h1{
    font-size: 72px;
}

.drive{
background-color: #57eeab;
align-self: center;
}


footer{
    background-color: #fffd8c;
    position: absolute;
    bottom: 0;
    width: 100%;

}

a{
    color: orange;
}

.icons{
    display: flex;
    float: right;
    justify-content: space-evenly;
}