body, footer{
    font-family: Arial, Helvetica, sans-serif
}

.container{
    display: flex;
flex-direction: column;
width: 300px;
border-style: solid;
border-width: 3px;
border-color: red;
}

.drive{
background-color: #57eeab;
}


footer{
    background-color: #fffd8c;

}

a{
    color: orange;
}