header{
    display: flex;
    justify-content: center;
    background-color: #465AB0;
    padding-top: 5px;
}

body{
    background-color: #0B2659;
    color: white;
}

.img-one-text{
    padding-top: 35%;
}

.img-thumbnail{
    border: red;
}

