body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #aad4cf;
}

header{
    background-image: url(../images/lone-starfish-wide.jpg);
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white
}

#menu{
color: black;
font-weight: bold;
display: inline;
background-color: orange;

}

#menu2 li{
    list-style-type: none;
    background-color: orange;
    display: inline;
    line-height: 2px;
}

/* Editing Body */

p{
    word-wrap: normal;
    font-size: large;
    line-height: 2 ;
    color: black;
    word-spacing: 2px;
    padding-left: 5px;
}
h2{
    text-align: left;
}

img{
    width: 15%;
    height: auto;
    float: left;
    padding-right: 10px;
}

h3{
    font-size: xx-large;
}

textarea {
    height:110px;
    width: 99%;
    resize:none;
    
 }

h2{
    text-align: left;
}

#contact{
    border: 2px solid black;
}

input[type=text]{
    max-width: 99%;
    min-width: 99%;
}

footer{
    text-align: right;
}

button{
    text-align: center;
}