body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #aad4cf;
}

header{
    background-image: url(../images/lone-starfish-wide.jpg);
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 150px; 
    padding-right: 150px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: x-large;
}

#menu{
color: black;
font-weight: bold;
display: inline-block;
background-color:white;
width: 100%;
}

#menu2 li{
    list-style-type: none;
    display: inline-block;
    line-height: auto;
    font-size: xx-large;
    width: 32%;
    text-align: center;
    border-right: 2px solid;
    
}
nav ul li:last-child{
  border-right: none;
}
/* Editing Body */

p{
    word-wrap: normal;
    font-size: large;
    line-height: 2 ;
    color: black;
    word-spacing: 2px;
    padding-left: 5px;
}
h2{
    text-align: left;
}

img{
    width: 15%;
    height: auto;
    float: left;
    padding-right: 10px;
}

h3{
    font-size: xx-large;
}

textarea {
    height:110px;
    width: 99%;
    resize:none;
    
 }

h2{
    text-align: left;
}

#contact{
    border: 2px solid black;
}

input[type=text]{
    max-width: 99%;
    min-width: 99%;
}

footer{
    text-align: right;
}

button{
    text-align: center;
}